/* Check */
ul.wp-block-list.is-style-list-check,
ul.wp-block-list.is-style-list-check ul {
	list-style: none;
	padding-inline-start: 0;
}

ul.wp-block-list.is-style-list-check li {
	padding-inline-start: 1.75em;
	position: relative;
}

ul.wp-block-list.is-style-list-check li + li {
	margin-top: 8px;
}

ul.wp-block-list.is-style-list-check li::before {
	content: "";
	background-color: var(--wp--preset--color--primary);
	display: inline-block;
	height: 1em;
	left: 0;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	position: absolute;
	top: 0.2em;
	width: 1em;
}

/* Check Circle */
ul.wp-block-list.is-style-list-check-circle,
ul.wp-block-list.is-style-list-check-circle ul {
	list-style: none;
	padding-inline-start: 0;
}

ul.wp-block-list.is-style-list-check-circle li {
	padding-inline-start: 1.75em;
	position: relative;
}

ul.wp-block-list.is-style-list-check-circle li + li {
	margin-top: 8px;
}

ul.wp-block-list.is-style-list-check-circle li::before {
	content: "";
	background-color: var(--wp--preset--color--primary);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.5 12.5l3 3 6-6' stroke='%23fff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 9999px;
	display: inline-block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 0.25em;
	width: 1em;
}
