/* Blur - shared overflow containment */
.is-style-origin-canvas-blur-image-less,
.is-style-origin-canvas-blur-image-more {
	overflow: hidden;
}

/* Blur Less */
.is-style-origin-canvas-blur-image-less > .wp-block-cover__image-background {
	filter: blur(3px);
	transform: scale(1.1);
}

/* Blur More */
.is-style-origin-canvas-blur-image-more > .wp-block-cover__image-background {
	filter: blur(10px);
	transform: scale(1.3);
}
