/* Check */
ul.wp-block-list.is-style-origin-canvas-list-check,
ul.wp-block-list.is-style-origin-canvas-list-check ul {
	list-style: none;
	padding-inline-start: 0;
}

ul.wp-block-list.is-style-origin-canvas-list-check li {
	padding-inline-start: 1.75em;
	position: relative;
}

ul.wp-block-list.is-style-origin-canvas-list-check li + li {
	margin-top: 8px;
}

ul.wp-block-list.is-style-origin-canvas-list-check li::before {
	content: "";
	background-color: var(--wp--preset--color--primary);
	display: inline-block;
	height: 1em;
	left: 0;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	position: absolute;
	top: 0.8em;
	top: 0.5lh;
	transform: translateY(-50%);
	width: 1em;
}
